<section ng-controller="FormController as formCtrl" ng-init="formCtrl.init()">

    <cent-message ng-model="formCtrl.messages.info" info></cent-message>

    <h1>Form Example</h1>
    <div class="page-header"></div>

    <div class="col-xs-12">
        <div ng-include="'modules/comments/views/comment-form.html'" />
    </div>

    <div class="page-header"></div>

    <div class="col-xs-12" ng-show="formCtrl.comments.length">
        <div ng-include="'modules/comments/views/comments-table.html'" />
    </div>

</section>